@media (min-width: 992px){
.search-engine-list li {
    width: 122px;
    /* margin: 0 15px 15px 0; */
}  
}
@media (max-width:768px) {
.search-engine-list_zmki_ul{ 
  padding: 0;
}
} 
 /*搜索区域*/
.sousuo{
    padding: 55px 0 35px 0;
    max-width: 717px;
    margin: 0 auto;
}
.search{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.search-box{
  position: relative;
}
.search-icon{
  position: absolute;
  left: 3px;
  top: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0;
}
.search-input{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #999;
  border: none;
  outline: none;
  padding-left: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}
.search-input:focus{
	outline: none;
    border: 1px solid #2188ff;
    -webkit-box-shadow: 0 0 5px 0px rgba(71, 158, 245, 0.5);
    box-shadow: 0 0 5px 0px rgba(71, 158, 245, 0.5);
}
input::-webkit-input-placeholder{
  font-size: 12px;
  letter-spacing: 1px;
  color: #ccc;
}
.search-btn{
	position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    line-height: 48px;
    background: transparent;
    border: none;
    font-size: 25px;
    color: #ddd;
    font-weight: bold;
    outline: none;
    padding: 0 10px;
}
.search-btn:hover{ color: #6b7184 }
.search-btn i { margin: 0 }
.search-hot-text{
  position: absolute;
  z-index: 100;
  width: 100%;
  border-radius: 0 0 10px 10px;
  background: #FFF;
  box-shadow: 0px 4px 5px 0px #cccccc94;
  overflow: hidden;
}
.search-hot-text ul{
	margin: 0;
	padding: 5px 0;
}
.search-hot-text ul li{
  border-top: 1px solid #f2f2f2;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 25px;
  color: #777;
  cursor: pointer;
}
.search-hot-text ul li.current{
  background: #f1f1f1;
  color: #2196f3;
}
.search-hot-text ul li:hover{
  background: #f1f1f1;
  color: #2196f3;
  cursor: pointer;
}
.search-hot-text ul li span{
	display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    background: #e5e5e5;
    margin-right: 10px;
    border-radius: 10px;
    color: #999;
}
/* 搜索引擎 */
.search-engine{
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #FFF;
  padding: 15px 0 0 15px;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px #d8d7d7;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: none;
  z-index: 999
}
.search-engine-head{
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 15px;
}
.search-engine-tit{
  float: left;
  margin: 0;
  font-size: 14px;
  color: #999;
}
.search-engine-tool{
  float: right;
  font-size: 12px;
  color: #999;
}
.search-engine-tool > span{
  float: right;
  display: inline-block;
  width: 25px;
  height: 15px;
  background: url('../image/off_on.png') no-repeat 0px 0px;
  cursor: pointer
}
.search-engine-tool > span.off{ background-position: -30px 0px }

.search-engine ul::before{
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  top: -15px;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;

}
.search-engine-list::after{
    content: '';
    width: 90px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 1px;
}
.search-engine-list li{
  float: left;
  width: 30%;
  line-height: 30px;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 10px 0;
  background: #f9f9f9;
  color: #999;
  cursor: pointer;
  padding: 0;
}
.search-engine-list li span{
  width: 25px;
  height: 25px;
  border-radius: 15px;
  float: left;
  margin-right: 5px;
  margin-top: 2.5px;
}
/* 搜索框下方广告 */
.bt-link > a{
  display: inline-block;
  font-size: 12px;
  color: #e8a788;
  padding: 7px 0 0 15px;
}

.colorful-card {
  padding: 10px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.3s ease;
  padding: 20px 10px;
}
 

.colorful-card:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
    color: #fff;
  }
.colorful-card:visited {
	color: #FFFFFF;
	text-decoration: none; 
} 
 .colorful-card  i { 
    font-size: 18px;
    margin-top: -2px;
    padding-right: 5px;
 }
 
.zmki_top_one{
	background: #608cee;
}
.zmki_top_two{
	background: #fb5962;
}
.zmki_top_three{
	background: #fbb359;
}
.zmki_top_four{
	background: #53bf6b;
}

.zmki_admin_img{
	 border: 0;
    height: 20px; 
    margin-bottom: -2px;
}
.box2 { 
    height: 86px;
    cursor: pointer;
    padding: 0px 30px 0px 30px;
    background-color: #fff;
    border-radius: 8px; 
    margin: 20px 0 0 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #3333330d;
    border: 1px solid #fff;
}

.box2:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.xe-comment-entry img {
    float: left;
    display: block;
    margin-right: 10px;
	border-radius: 50px;
}

.xe-comment p {
    margin-bottom: 0px;
}
.overflowClip_1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.overflowClip_2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


.submit-tag{
    margin-top: 50px;

}