/* http://www.mobantu.com/7458.html */
.circular{-webkit-animation:rotate 2s linear infinite;animation:rotate 2s linear infinite;height:28px;-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;width:28px;margin:auto}
.circular .path{width:100%;height:100%;stroke-dasharray:1,200;stroke-dashoffset:0;-webkit-animation:dash 1.5s ease-in-out infinite;animation:dash 1.5s ease-in-out infinite;stroke:#757575;stroke-linecap:round}
@-webkit-keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@keyframes rotate{100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}
}@-webkit-keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}
50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}
100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}
}@keyframes dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}
50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}
100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}
}.wppay-toast{background:#2A2A2A;border-radius:3px;color:#fff;text-align:center;padding:20px 60px;opacity:0}
.wppay-toast .icon .modia{font-size:28px}
.wppay-toast .text{font-size:18px;font-weight:bold}
.wppay-toast.it{padding:20px 40px}
.wppay-toast.it .text{margin-top:10px}
.wppay-toast.icon{padding:25px}
.wppay-toast.fs{position:fixed;top:50%;left:50%;z-index:100;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.wppay-toast.el{position:absolute;top:50%;left:50%;z-index:10;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.wppay-modal-box{position:fixed;left:0;right:0;top:0;bottom:0;z-index:10;background:rgba(0,0,0,0.6)}
.wppay-modal-box .wppay-modal{position:absolute;width:400px;height:404px;background:#fff;border-radius:3px;top:50%;left:50%;margin-left:-202px;margin-top:-200px;z-index:1;padding:60px 50px 40px;-webkit-box-sizing:border-box;box-sizing:border-box}
.wppay-modal-box .wppay-modal .title{font-size:28px;color:#2A2A2A;font-weight:bold}
.wppay-modal-box .wppay-modal .content{margin-top:29px;font-size:18px;color:#2A2A2A;height:166px;overflow-y:auto}
.wppay-modal-box .wppay-modal .options-btns{margin-top:35px}
.wppay-modal-box .wppay-modal .options-btns a{width:50%;color:#fff;font-weight:bold}
.wppay-custom-modal-box{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10;background:rgba(0,0,0,0.6)}
.wppay-custom-modal-box .wppay-modal{max-width:350px;width:100%;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);height:auto;background:#fff;border-radius:3px;display:block !important}
.wppay-custom-modal-box .wppay-modal .close-modal{cursor:pointer;position:absolute;top:1px;right:8px;color:#000;font-size:42px}
.wppay-custom-modal-box .wppay-modal .close-modal .modia{font-size:14px}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode{padding-top:20px}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab{padding:0px 30px;text-align:center;display:block !important}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab a{font-size:16px;color:#838383;font-weight:bold;text-decoration:none;margin:0 3px;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab a.active{color:#2A2A2A;font-size:24px}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab a.wppay-weixin.active{color:#21ab36;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab a.wppay-alipay.active{color:#00a3ee;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab a .price{color:#ff5f33}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list{margin-top:180px;background:#ff5f33;height:170px;border-radius:0 0 3px 3px;display:block !important}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item{text-align:center;position:relative;top:-166px}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .wppay-title{margin-bottom: 10px;font-size:15px;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .wppay-title .price{color: #ff5f33}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .qr-code{border:#E6CEC6 solid 1px;width:225px;height:225px;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;border-radius:3px;margin:0 auto;background:#fff;display:block !important}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .qr-code img{width:100%;height:auto}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .account{margin-top:40px !important;margin-bottom:0 !important;color:#ffffff;font-size:14px}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .desc{margin-top:10px;font-size:12px;color:#cecece;font-family:tahoma,arial,sans-serif}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .wap{display: none;margin-top: 10px;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .wap a{background: #00a3ee;color: #fff;text-decoration: none;padding:8px 25px;display: inline-block;border-radius: 3px;border:1px solid #fff;}
@media (max-width:768px){
.wppay-modal-box .wppay-modal{width:320px;margin-left:-160px}
.wppay-custom-modal-box .wppay-modal{width:90%}
.wppay-toast{padding:10px 20px}
.wppay-toast .icon .modia{font-size:28px}
.wppay-toast .text{font-size:16px;font-weight:bold;white-space:nowrap}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list{height: 190px;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .account{margin-top:20px !important;}
.wppay-custom-modal-box .wppay-modal .erphp-wppay-qrcode .tab-list .item .wap{display: block;}
}.erphp-wppay{background-color:#fff;border:2px dashed #ff5f33;color:#333;font-size:14px;line-height:inherit;padding:5px 10px}
.erphp-wppay-success{border:2px dashed #54c468}
.erphp-wppay b{color:#ff5f33}
.erphp-wppay-qrcode .payment{margin-bottom:10px}
.erphp-wppay-qrcode .payment img{max-width:160px;height:auto;display:inline-block}
/* Powered by wppay.net */